:root {

    /* font family */
    --ff-title_text: 'Limelight', cursive;
    --ff-content_text: 'Maven Pro', sans-serif;

    --clr-black: rgb(10, 10, 10);
    --clr-text: #fff;
    --clr-neon: rgb(192, 4, 40);

    /* background header */
    --clr-bg: rgb(30, 39, 46);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

h1 {
    font-family: var(--ff-title_text);
    font-size: 59px;
    color: var(--clr-text);
    font-weight: 600;
    padding-bottom: 20px;
}

p {
    color: var(--clr-text);
}

p,
input,
textarea,
label {
    font-family: var(--ff-content_text);
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 5%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
}

input,
textarea,
label {
    display: block;
    margin: 0 auto;
    width: 100%;
    color: var(--clr-text);
}

input,
textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #545557;
}

input[type=submit] {
    background-color: var(--clr-neon);
    padding: 15px 0;
    color: var(--clr-text);
    font-size: 18px;
    border-bottom: none;
    border-radius: 0.25em;
    box-shadow: 0 0.25em 0.25em var(--clr-black);
    margin-top: 30px;
    cursor: pointer;
    transition: all .3s ease;
}


input,
textarea {
    color: var(--clr-text);
    font-size: 18px;
    padding: 10px;
}

.footer{
text-align: justify;
}
